h1 {
    font-size: 200%;
    padding-top: 30px;
    color: rgb(158, 194, 194);
    padding-left: 30px;
    background-color: black;
}

* {
    box-sizing: border-box;
    background-color: rgb(69, 83, 97);
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
}

nav ul {
    color: rgb(158, 194, 194);
    margin-right: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-top: 0%;
    list-style-type: none;
}


li {
    display: inline-block;
    margin-left: 15px;
}

li a {
    color: aliceblue;
}


.navbar {
    display: flex;
    justify-content: flex-end;
}

/*Code taken from our first project for background image position and slightly altered*/
.bg {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image:url(/darkbg.jpeg);
    background-size: cover;
    background-position: center;
}

h2 {
    padding-left: 60px;
    color: rgb(158, 194, 194);
    font-size: 320%;
    padding-right: 40px;
    padding-top: 25px;
}

.about-me {
    display: flex;
    justify-content: flex-end;
}

.about-me a {
    padding-left: 100px;
    font-size: 120%;
    color: rgb(158, 194, 194);
    padding-top: 70px;
    border-left: 2px solid;
}

.work {
    padding-top: 75px;
}

.pictures {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 100px;
    align-items: center;
}

.tech1 img {
    display: inline;
    height: 850px;
    width: 1150px;
}

.tech2 img {
    height: 350px;
    width: 600px;
}

.tech3 img {
    height: 350px;
    width: 600px;
}

.tech4 img {
    height: 350px;
    width: 600px;
}

.tech5 img {
    height: 350px;
    width: 600px;
}

@media screen and (max-width: 1200px) {
    .tech1 img {
        width:600px;
        height: 350px;
    }
}

.contact-me a {
    float: right;
}

.tech1 img:hover {
    cursor: pointer;
}

.tech2 img:hover {
    cursor: pointer;
}

.tech3 img:hover {
    cursor: pointer;
}

.tech4 img:hover {
    cursor: pointer;
}

.tech5 img:hover {
    cursor: pointer;
}